<div class="footer" id="footer">
 <div class="footer-item">
   <p><strong>Coding Platforms</strong></p>
    <a href="https://leetcode.com/u/Nish_singh/" target="_blank">Leetcode</a>
    <a href="https://www.geeksforgeeks.org/user/nishthasingh116/" target="_blank">GeeksforGeeks</a>
    <a href="https://www.hackerrank.com/profile/nishthasingh116" target="_blank">HackerRank</a>
 </div>
<div>
    <h2 class="subheading">Reach Out to me!</h2>
    <p><img src="envelope-at-fill.svg"> Email : nishthasingh116&#64;gmail.com</p>
    <p><img src="geo-alt-fill.svg">Gurugram, Haryana, India</p>
    <p>Open for new Opportunity</p>
</div>
<div class="footer-item">
    <p><strong>Connect On</strong></p>
    <a href="https://www.linkedin.com/in/nishthasingh-sde/" target="_blank">Linkedln</a>
    <a href="https://www.naukri.com/mnjuser/profile?id=&altresid" target="_blank">Naukri.com</a>
    <a href="https://github.com/Nishthasg" target="_blank">Github</a>
</div>
</div>
