.footer{
    margin-top:15%;
    border-top:1px solid #11117a;
    display:flex;
    justify-content: space-around;
    text-align: center;
    .footer-item{
        margin-top:10px;
    }
    a{
        display: block;
        margin:10px;
        cursor: pointer;
        color:black;
        text-decoration: none;
    }
}
@media (max-width:530px){
   .footer{
    flex-direction: column;
   }
}