<nav class="navbar" [class.scrolled]="isScrolled">
     <div class="menu-icon" (click)="toggleSidebar()">
    <img *ngIf="!isSidebarOpen" src="list.svg" alt="menu" height="45" width="45"> 
    <img *ngIf="isSidebarOpen" src="x.svg" alt="close" height="45" width="45"> 
  </div>
    <div class="navlist" [class.active]="isSidebarOpen">
        <a href="#skills" (click)="toggleSidebar()">Skills</a>
        <a href="#exp" (click)="toggleSidebar()">Work Experience</a>
        <a href="#project" (click)="toggleSidebar()">Projects</a>
        <a href="#education" (click)="toggleSidebar()">Education</a>
        <a href="Nishtha_Singh_Resume" download>Resume</a>
    </div>
</nav>
