.navbar{
     position:fixed;
     width:100%;
     top:0;
     left:0;
     padding:20px 30px;
      transition: background-color 0.3s ease, color 0.3s ease;
      z-index: 1000;
     
    .navlist{
        display:flex;
        justify-content:right;
        gap:7%;
        margin-right:100px;
    }
    a{
        font-size: 1.25rem;
        font-weight: bold;
        cursor: pointer;
        color:#11117a;
        text-decoration: none;
    
        
    }
    a:active{
            text-decoration: underline;
            text-decoration-color:rgb(150, 147, 147);
            text-underline-offset: 4px;
            text-decoration-thickness: 2px;
        }
        &.scrolled{
       background-color: #11117a;
       a{
        color:white;
       }
     }
    
     .menu-icon{
       display:none;
       cursor: pointer;
     }
}



@media (max-width:770px) {
   .navbar{
     .menu-icon{
        display:block;
        position:relative;
        z-index: 1001;
     }
     .navlist{
      position: fixed;
      top: 0;
      left:100%;
      width: 100%;
      height: 100vh;
      background-color: rgb(219, 219, 230);
      flex-direction: column;
      padding-left:100px;
      padding-top:100px;
      gap: 2rem;
      transition: right 0.3s ease-in-out;
      z-index: 999;
       &.active {
        left: 0;
      }
     }
     
   }
}