<div>
    <div class="heading">
        <h1>Skills & Technologies</h1>
        <hr/>
    </div>
    
    <div>
     <div class="container">
        <h2 class="subheading">Languages</h2>
        <div class="icon-list">
            <div class="icons">
                <img src="java.png" alt="Java" height="50" width="50">
                <p>Java</p>
            </div>
            <div class="icons">
                <img src="js.png" alt="javascript" height="50" width="50">
                <p>JavaScript</p>
            </div>
            <div class="icons">
                <img src="typescript.png" alt="typescript" height="50" width="50">
                <p>TypeScript</p>
            </div>
        </div>
     </div>
     <div class="container">
        <h2 class="subheading">Libraries & Frameworks</h2>
        <div class="icon-list">
            <div class="icons">
             <img src="angular.png" alt="angular" height="50" width="50">
                <p>Angular</p>
            </div>
            <div class="icons">
             <img src="html.png" alt="html" height="50" width="50">
                <p>HTML</p>
            </div>
            <div class="icons">
             <img src="css-3.png" alt="css" height="50" width="50">
                <p>CSS</p>
            </div>
            <div class="icons">
             <img src="sass.png" alt="scss" height="50" width="50">
                <p>SASS/SCSS</p>
            </div>
            <div class="icons">
             <img src="bootstrap.png" alt="bootstrap" height="50" width="50">
                <p>Bootstrap</p>
            </div>
        </div>
     </div>
     <div class="container">
        <h2 subheading>Tools & Platforms</h2>
         <div class="icon-list">
            <div class="icons">
             <img src="github.png" alt="github" height="50" width="50">
                <p>Github</p>
            </div>
            <div class="icons">
             <img src="gitlab.png" alt="gitlab" height="50" width="50">
                <p>GitLab</p>
            </div>
            <div class="icons">
             <img src="vscode.png" alt="vscode" height="50" width="50">
                <p>VS Code</p>
            </div>
     </div>
     </div>
    
    </div>
</div>
