<div>
    <div class="heading">
        <h1>Experience</h1>
        <hr/>
    </div>
    <div class="container">
        <h2 class="subheading">Silver Touch Technologies Ltd</h2>
        <p>Software Developer</p>
        <i>June 2024 - July 2025</i>
        <ul>
            <li>Built a Pension Management Portal using Angular, TypeScript, Material UI, and Bootstrap.</li>
            <li>Developed secure authentication for login/signup, safeguarding over 55,000 pensioner records and ensuring
                compliance with data privacy standards.</li>
            <li>Created and implemented RESTful APIs to manage pensioner records across 50 districts, facilitating secure and
                efficient handling of monthly transactions.</li>
        </ul>
    </div>
</div>
