<div>
    <div class="heading">
        <h1>Education</h1>
        <hr/>
    </div>
    <div class="container">
      <h2 class="subheading">Madan Mohan Malaviya University Of Technology, Gorakhpur(UP)</h2>
        <p>Bachelor Of Technology</p>
        <i>Nov 2020 - May 2024</i>
        <ul>
            <li>CGPA- 7.97/10</li>
        </ul>
    </div>
    <div class="container">
      <h2 class="subheading">Saraswati Vidya Mandir, Sultanpur(UP)</h2>
        <p>Intermediate & High School</p>
        <i>Jul 2017 - Jun 2019</i>
        <ul>
            <li>Intermediate percentage - 86%</li>
            <li>HighSchool CGPA - 10/10</li>
        </ul>
    </div>
</div>
