.home{
    display:flex;
    height: 95vh;
    margin:0 8%;
    padding-top:60px;

.intro{
    margin-top:100px;
}
 .name{
     color:#11117a;
     font-size:3.5rem;
     margin-bottom: 0;
}
p{
    color:grey;
    font-size: 1.25rem;
    margin-top:0;
    margin-bottom:25px;
    max-width: 80%;
}
button{
    background-color:#11117a ;
    color:white;
    padding:8px;
    margin:5px;
    border:4px solid #11117a;
    border-radius:8px;
    font-size: 1.1rem;
}
}
@media (max-width:770px){
    .home{
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        margin-bottom: 50px;
        .intro{
            margin-top:0;
            text-align:center;
            .name{
                font-size:2rem;
            }
            p{
                max-width: 100%;
                font-size:1.1rem;
            }
        }
        img{
            height:250px;
            width:150px;
        }
    }
}