<app-navbar></app-navbar>
<div class="home">
 <div class="intro">
  <div>
    <h3>Hi, my name is <br> <span class="name">Nishtha Singh</span></h3>
    <p>A passionate Software Developer having an experience of building Responsive Web applications with Angular/ TypeScript / Angular Material and some other cool libraries and frameworks.</p>
  </div>
  <div>
   <div>
    <button>Contact Me</button>
    <button (click)="downloadResume()">Download Resume</button>
   </div>
  </div>
 </div>
 <div>
 <img src="vector.png" alt="profile picture" height="450" width="300">
 </div>
</div>
<app-skills></app-skills>
<app-experience></app-experience>
<app-projects></app-projects>
<app-education></app-education>
