<div class="project" id="project">
    <div class="heading">
        <h1>Projects</h1>
        <hr/>
    </div>
    <div class="container project-item">
    <div>
        <h2 class="subheading">IFMS Rajasthan</h2>
        <p>Angular | TypeScript | Bootstrap | RESTful API's | Angular Material</p>
        <i>Nov 2024 - Jul 2025</i>
        <ul>
            <li>Engineered a Pension Management Portal to manage pensioner records.</li>
            <li> Integrated document upload features (life certificates, service documents) and enabled downloadable bill
                status
                reports.</li>
            <li>Designed and applied a reusable data model to standardize workflows, enhance code maintainability.</li>
        </ul>
        <button class="btn" (click)="openPension()">View Demo</button>
    </div>
    <div>
        <img src="pension.png" alt="image" height="300" width="300">
    </div>
    </div>
    <div class="container project-item">
    <div>
        <h2 class="subheading">Food Ordering Website</h2>
        <p>React.js | Express.js | Node.js | MongoDB</p>
        <i>Apr 2024 – Jun 2024</i>
        <ul>
            <li> Developed authentication, Food Ordering Platform with checkout functionalities while implementing
                responsive design principles.</li>
            <li>Applied JWT and Bcrypt.js for secure user authentication, reducing unauthorized access risks by 90% across
                login/signup features.</li>
            <li>Leveraged Bootstrap to engineer responsive, mobile-first interfaces, enhancing cross-platform usability and
                accelerating front-end development </li>
        </ul>
        <button class="btn" (click)="openFood()">View Demo</button>
    </div>
    <div>
        <img src="food.png" alt="image" height="300" width="300">
    </div>
    </div>
</div>
