 h2{
        margin-bottom: 0;
    }
    p{
        font-size: 1.1rem;
    }
    p,i{
     margin:2px 10px;
    }
    .btn{
        padding:7px;
        border:2px solid #11117a;
        border-radius: 15px;
        color:#11117a;
        font-size: 1.02rem;
        margin-left:25px;
        margin-bottom: 15px;
    }
    .project{
        margin-top:70px;
    }
    .project-item{
        display: flex;
    }
  
  @media (max-width:800px){
    .project-item{
        flex-direction: column-reverse;
        text-align: center;
        li{
            text-align: justify;
        }
    }
  }  