/* You can add global styles to this file, and also import other style files */
html{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}
.heading{
    color:#11117a;
    display:flex;
    gap:2rem;
    align-items: center;
    margin:0 8%;
    
    hr{
       flex-grow: 1;
       border:none;
       border-top: 2px solid #11117a; 
    }
}
.subheading{
    margin-left:5px;
    color:#11117a;
}
.container{
    background-color: rgb(219, 219, 230);
    padding:15px;
    margin: 15px 8%;
    border:2px solid rgb(219, 219, 230);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}
 ul{
    color:grey;
    font-size: 1.1rem;
}
#skills,
#education,
#experience,
#projects {
  scroll-margin-top: 150px; 
}